@import 'App.scss';

// .container {
//   font-family: sans-serif;
//   text-align: center;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
// }

.visual {
  height: 300px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.actions {
  height: 200px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.textarea {
  height: 100%;
  margin-top: 10px;
}

.dragging {
  fill: "green" !important;
}
