@charset "utf-8";

// Import a Google Font
@import url("https://fonts.googleapis.com/css?family=Nunito:400,700");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige-light: #d0d1cd;
$beige-lighter: #eff0eb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "../node_modules/bulma/bulma.sass";

.App {
  background-image: url(./images/white-paper-background.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  color: white;
  text-align: center;
  width: 100%;
  font-size: 4em;
}

.header {
  width: 100%;
  height: 11em;
  display: flex;
  align-items: center;
  justify-content: center;
}
